body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.student-portal {
    display: flex;
    background-color: #bcbcbc;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 280px;
    background-color: rgb(56, 56, 56);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.menu {
    margin-top: 20px;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #000000;
}

.menu-item.active {
    background-color: #4290a3;
    color: #ffffff;
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.action-bar {
    margin-bottom: 20px;
    text-align: right;
}

.search-button {
    background-color: #4290a3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.message-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.message-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.message-item:last-child {
    border-bottom: none;
}

.message-item:hover {
    background-color: #f2f2f2;
}

.message-item input[type="checkbox"] {
    margin-right: 10px;
}

.message-item .sender {
    font-weight: bold;
    flex: 1;
}

.message-item .subject {
    margin-top: 5px;
    color: #333;
    flex: 2;
}

.message-item .timestamp {
    color: #888;
    flex: 1;
}

.message-item.active {
    background-color: #4290a3;
    color: white;
}
