body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.student-portal {
    display: flex;
    background-color: #bcbcbc;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 280px;
    background-color: rgb(56, 56, 56);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.menu {
    margin-top: 20px;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #000000;
}

.menu-item.active {
    background-color: #4290a3;
    color: #ffffff;
}

.main-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.action-bar {
    margin-bottom: 20px;
    text-align: right;
}

.search-button {
    background-color: #4290a3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.mentor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mentor-card {
    width: 300px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.mentor-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}
