body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #bcbcbc;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-box {
    background-color: black;
    color: white;
    padding: 80px; /* Reduced padding */
    border-radius: 25px; /* Reduced border-radius */
    text-align: center;
    width: 500px; /* Reduced width */
}

.input-group {
    margin-bottom: 30px; /* Reduced margin-bottom */
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: calc(100% - 40px);
    padding: 15px; /* Reduced padding */
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-size: 18px; /* Reduced font size */
    border-radius: 8px; /* Reduced border-radius */
    box-sizing: border-box;
}

input::placeholder {
    color: black;
}

.accept-terms {
    margin-bottom: 25px; /* Reduced margin-bottom */
    text-align: left;
}

.signup-button {
    width: 100%;
    padding: 18px; /* Reduced padding */
    background-color: #4290a3;
    border: none;
    color: white;
    font-size: 20px; /* Reduced font size */
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: #33677f;
}

.already-have-account a {
    color: #4290a3;
    text-decoration: none;
}
